KSoft Apparel/Service References/MailServiceReference/mailservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMail">
        <s:complexType />
      </s:element>
      <s:element name="SendMailResponse">
        <s:complexType />
      </s:element>
      <s:element name="sendsms">
        <s:complexType />
      </s:element>
      <s:element name="sendsmsResponse">
        <s:complexType />
      </s:element>
      <s:element name="sendbudgetsms">
        <s:complexType />
      </s:element>
      <s:element name="sendbudgetsmsResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="sendsmsSoapIn">
    <wsdl:part name="parameters" element="tns:sendsms" />
  </wsdl:message>
  <wsdl:message name="sendsmsSoapOut">
    <wsdl:part name="parameters" element="tns:sendsmsResponse" />
  </wsdl:message>
  <wsdl:message name="sendbudgetsmsSoapIn">
    <wsdl:part name="parameters" element="tns:sendbudgetsms" />
  </wsdl:message>
  <wsdl:message name="sendbudgetsmsSoapOut">
    <wsdl:part name="parameters" element="tns:sendbudgetsmsResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendMailHttpGetIn" />
  <wsdl:message name="SendMailHttpGetOut" />
  <wsdl:message name="sendsmsHttpGetIn" />
  <wsdl:message name="sendsmsHttpGetOut" />
  <wsdl:message name="sendbudgetsmsHttpGetIn" />
  <wsdl:message name="sendbudgetsmsHttpGetOut" />
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendMailHttpPostIn" />
  <wsdl:message name="SendMailHttpPostOut" />
  <wsdl:message name="sendsmsHttpPostIn" />
  <wsdl:message name="sendsmsHttpPostOut" />
  <wsdl:message name="sendbudgetsmsHttpPostIn" />
  <wsdl:message name="sendbudgetsmsHttpPostOut" />
  <wsdl:portType name="MailServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:SendMailSoapIn" />
      <wsdl:output message="tns:SendMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendsms">
      <wsdl:input message="tns:sendsmsSoapIn" />
      <wsdl:output message="tns:sendsmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendbudgetsms">
      <wsdl:input message="tns:sendbudgetsmsSoapIn" />
      <wsdl:output message="tns:sendbudgetsmsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MailServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:SendMailHttpGetIn" />
      <wsdl:output message="tns:SendMailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="sendsms">
      <wsdl:input message="tns:sendsmsHttpGetIn" />
      <wsdl:output message="tns:sendsmsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="sendbudgetsms">
      <wsdl:input message="tns:sendbudgetsmsHttpGetIn" />
      <wsdl:output message="tns:sendbudgetsmsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MailServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input message="tns:SendMailHttpPostIn" />
      <wsdl:output message="tns:SendMailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="sendsms">
      <wsdl:input message="tns:sendsmsHttpPostIn" />
      <wsdl:output message="tns:sendsmsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="sendbudgetsms">
      <wsdl:input message="tns:sendbudgetsmsHttpPostIn" />
      <wsdl:output message="tns:sendbudgetsmsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailServiceSoap" type="tns:MailServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://localhost/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap:operation soapAction="http://localhost/SendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendsms">
      <soap:operation soapAction="http://localhost/sendsms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendbudgetsms">
      <soap:operation soapAction="http://localhost/sendbudgetsms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailServiceSoap12" type="tns:MailServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://localhost/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://localhost/SendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendsms">
      <soap12:operation soapAction="http://localhost/sendsms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendbudgetsms">
      <soap12:operation soapAction="http://localhost/sendbudgetsms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailServiceHttpGet" type="tns:MailServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <http:operation location="/SendMail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="sendsms">
      <http:operation location="/sendsms" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="sendbudgetsms">
      <http:operation location="/sendbudgetsms" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailServiceHttpPost" type="tns:MailServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <http:operation location="/SendMail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="sendsms">
      <http:operation location="/sendsms" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="sendbudgetsms">
      <http:operation location="/sendbudgetsms" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailService">
    <wsdl:port name="MailServiceSoap" binding="tns:MailServiceSoap">
      <soap:address location="http://210.4.75.131/mailservice.asmx" />
    </wsdl:port>
    <wsdl:port name="MailServiceSoap12" binding="tns:MailServiceSoap12">
      <soap12:address location="http://210.4.75.131/mailservice.asmx" />
    </wsdl:port>
    <wsdl:port name="MailServiceHttpGet" binding="tns:MailServiceHttpGet">
      <http:address location="http://210.4.75.131/mailservice.asmx" />
    </wsdl:port>
    <wsdl:port name="MailServiceHttpPost" binding="tns:MailServiceHttpPost">
      <http:address location="http://210.4.75.131/mailservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>